src/main/mule/oracleconnection.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">


	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="69c94fbc-3bc0-46a9-bc40-fb0fafd0bb51" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<db:config name="Database_Oracle_Config" doc:name="Database Config" doc:id="b110140a-a7f6-4c49-ae87-416c9c41cd7a" >
		<db:oracle-connection host="localhost" user="Integration" password="integration" serviceName="xe" />
	</db:config>
	<db:config name="Database_MySql_Config" doc:name="Database Config" doc:id="77f465d4-09f5-434b-ac61-467e6f49de88" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="integracion" />
	</db:config>
	<db:config name="Database_SQLServer_Config" doc:name="Database Config" doc:id="dcb12a99-94f3-4f3c-add9-9c24077c2a03" >
		<db:mssql-connection host="NICK-LAP" instanceName="SQLEXPRESS" port="1434" user="integration2" password="manage" databaseName="Integration" />
	</db:config>
	
	<flow name="getUsers" doc:id="0849c7ff-9571-4ea5-88f1-177d7d47bb79" >
		<http:listener doc:name="Listener" doc:id="2343028a-5d23-4ce1-a96e-5847b59c4fbe" config-ref="HTTP_Listener_config" path="getUsers"/>
		<db:select doc:name="Select" doc:id="5ea7d1c1-7d26-4a38-b7fc-a0176a188be7" config-ref="Database_Oracle_Config">
			<db:sql ><![CDATA[SELECT * FROM CLIENTES]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="778ca820-1fb8-4d27-854d-5d00fe252df8" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="324658dc-ae4e-446a-a6f4-02ed3cb2a1f7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a1a5c03b-85e0-40f8-b665-8e645cad66a5" />
	</flow>
	<flow name="getUser" doc:id="7e97b4db-30da-4d4b-b21a-5b3249e7ee65">
		<http:listener doc:name="Listener" doc:id="d72f2939-246a-47d7-8826-25ea863a1b38" config-ref="HTTP_Listener_config" path="getUser/{nombre}" />
		<set-variable value="#[attributes.queryParams.clienteid]" doc:name="Set Variable" doc:id="d5c4627f-4e25-4aa7-80d8-8d17a70bf54c" variableName="nombre"/>
		<db:select doc:name="Select" doc:id="8c6520a8-de62-40b7-b0d5-babf5c20c963" config-ref="Database_SQLServer_Config">
			<db:sql ><![CDATA[SELECT * FROM CLIENTES WHERE ClienteId = :clienteid]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
 'clienteid':attributes.queryParams[0]
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="df33c784-0b85-4fea-be47-133f13506212" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="7931e410-0600-45d4-99c1-577513e194de">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="1d4675d6-10b8-45ab-928b-8db76770412e" />
	</flow>
</mule>